{
    "trailingComma": "none",
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
    "overrides": [
        {
            "files": "manifest/*.xml",
            "options": { "printWidth": 120 }
        },
        {
            "files": "**/lwc/**/*.html",
            "options": { "parser": "lwc" }
        },
        {
            "files": "*.{cmp,page,component}",
            "options": { "parser": "html" }
        }
    ]
}
